<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">CoderHouse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        </ul>
        
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        {{#if usuarioLogin}}
        <span class="text-success me-3">Bienvenido/a {{usuarioLogin.email}}!</span> <a href="users/logout" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">Desloguarse</a>
        {{else}}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="users/registro">Registro</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
            </a>
            <form class="dropdown-menu p-4 dropdown-menu-lg-end" style="width: 250px;" id="loginForm" action="/login" method="post">
            <div class="mb-3">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Escriba su email">
            </div>
            <div class="mb-3">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Escriba su contraseña">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Acceder</button>
            </div>
            </form>
        </li>
        {{/if}}
        </ul>
    </div>
    </div>
</nav>