
<div class="p-3 m-5 bg-danger text-white text-center"><h2>No se pudo registrar!</h2></div>
<script>
    window.setTimeout( function(){
        window.location = "/users/registro";
    }, 5000 );
</script>