
<div class="p-3 m-5 bg-primary text-white text-center"><h2>Hasta luego {{usuario.email}}</h2></div>
<script>
    window.setTimeout( function(){
        window.location = "/";
    }, 3000 );
</script>