.chat {
    float:left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 500px;
}

.message-data {
    margin-bottom: 5px;
}

.message-data-name{
    color: #24366d;
    font-weight: bold;
}

.message-data-time {
    color: #5c2106;
    padding-left: 6px;
}

.my-message {
    background: #86BB71;
    font-style: italic;
}

.message {      
    color: white;
    padding: 5px 5px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 5px;
    width: 90%;
    position: relative;
}